ol {
  border-style: solid;
  border-width: 2px;
  width: 250px;
  padding: 5px;
  list-style-position: inside;
}
li {
  padding: 3px;
  padding-left:34px;
  margin-bottom:5px;
}
li:last-child {
  margin-bottom:initial;
}
li {
  background-position: 5px;
  background-repeat: no-repeat;
}
li[lang^=en] {
  background-color: rgba(0,255,0,0.75);
  background-image: url("../images/en-GB.png");
}
li[lang^=de]{
  background-color: rgba(255,0,0,0.25);
  background-image: url("../images/de.png");
}
li[lang^=es]{
  background-color: rgba(0,0,255,0.5);
  background-image: url("../images/es.png");
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
  text-transform: uppercase;
  text-decoration: underline;
}
